body {
    background-image: url(pexels-photo-414660.webp);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    margin: 10px;
    background: #333;
    color: blue;
    padding: 3px;
    height: 60px;
    margin-bottom: 4%;
    background: transparent;
    font-family: monospace;
    font-size: larger;
    

}

.tribute-content {
    font-style: initial;
    color: rgb(83, 32, 178);
    width: 30%;
    height: 20%;
    margin: 20px auto;
    background-image: url(background.jpg);
    background: transparent;
    background-size: cover;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px black;
}

.tribute-img {
    width: 200px;
    margin-left: 0%;
    border-radius: 50%;
    background-position: left;

    
}

footer {
    background: transparent;
    background:transparent;
    color: brown;
    font-style: bold;
    padding: 10px;
    margin-top: 20px;
    font-style: italic;

}
